NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_BASE_URL=http://localhost:3001
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
ConnectionString=
DATABASE_URL=
NEXT_PUBLIC_API_URL=http://localhost:3000
JWT_SECRET=
PAYSTACK_SECRET_KEY=sk_test_1f7fa66e79a9217188a77f37920a4d05bf97fbc3
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_2aec4af5f07f0303fb6f5cfff8537bff656d5136
RESEND_API_KEY=
EMAIL_FROM=
